@import "tailwindcss";
/* small custom helpers */
.glass {
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(8px);
}

.card-glass {
  background: linear-gradient(180deg, rgba(255,255,255,0.03), rgba(255,255,255,0.01));
  border: 1px solid rgba(255,255,255,0.06);
  backdrop-filter: blur(8px);
}
.card-glass-dark{
  background: rgba(17, 24, 39, var(--tw-bg-opacity));
  border: 1px solid rgba(255,255,255,0.06);
  backdrop-filter: blur(8px);
}
.bg-img {
  background-image: url('./assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
